<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login Customer</title>
</head>
<body>
<div>
    <form method="post" action="/auth/login">
        <h2>Login</h2>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" required>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </p>
        <button type="submit">Sign in</button>
    </form>
    <a href="/auth/reg">Add new user</a>
</div>
</body>
</html>
